.card-weather {
    width: 18%;
    border: 2px solid skyblue;
    border-radius: 7px;
    text-align: center;
    margin: 1%;
    float: left;
}

@media  (max-width: 750px) {
    .card-weather {
        width: 90%;
        margin: 5%;

        float: none;
    }
  }